<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local" value="./WoofWare.Whippet/bin/Debug/" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local">
      <package pattern="WoofWare.Whippet" />
    </packageSource>
  </packageSourceMapping>
</configuration>
