<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
  <!-- For tests, we consume Whippet from its binary build. We do this by adding a local NuGet source,
       and then banning the package from coming from anywhere except that local source.
  -->
    <add key="local" value="./WoofWare.Whippet/bin/Debug/" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local">
      <package pattern="WoofWare.Whippet" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="!WoofWare.Whippet" />
    </packageSource>
  </packageSourceMapping>
</configuration>
